<div class="container">
  <app-header></app-header>
  <div class="main">
    <div class="user-list-div">
      <ul class="user-list" *ngFor="let user of users">
        <li class="user-list-item">
          <app-user
            [userImagePath]="user.avatar"
            [userName]="user.uname"
            [id]="user.id"
            (selectEvent)="onSelectUser($event)"
          ></app-user>
        </li>
      </ul>
    </div>
    <div class="user-task-div">
      <app-tasks [userName]="uName"></app-tasks>
    </div>
  </div>
</div>
